html {
	background-color: black;
}

.container {
	width:100%;
	height:100%;
	margin:0;
	padding: 0;
}

#first {
	height:30%;
	margin: 0;
}
#second {
	height:30%;
	margin: 0;
}
#third {
	height:25%;
	margin: 0;
}

#navbar {
	background-color: white;
	border-radius: 15px 15px 0 0;
}

.navbar {
	width:100%;
	border-radius: 15px 15px 0 0;
	margin: 0;
}

.nav {
	float: right;
}

#headline {
	background: url('../images/banner_sergio_rola.jpg');
	background-size: cover;
	color: white;
	font-size: 20px;
	font-weight: bold;
	height: 100%;
}

#one {
	background: url('../images/rock_panel_annie_spratt.jpg');
	background-size: cover;
	border: 1px solid black;
	height: 100%;
}

#two {
	background: url('../images/rock_panel_right_annie_spratt.jpg');
	background-size: cover;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 100%;
}

#three {
	background: url('../images/land_panel_mendes.jpg');
	background-size: cover;
	color: white;
	height: 100%;
}

#four {
	background: url('../images/land_panel_right_mendes.jpg');
	background-size: cover;
	color: white;
	height: 100%;
}

#foot {
	background-color: white;
	height:11%;
	border-radius: 0 0 15px 15px;
}

@media (min-width: 320px) {
	body {
		border: 4px solid black;
		border-radius: 15px;
	
		height:550px;
	}
}

@media (min-width: 600px) {
	body {
		border: 4px solid black;
		border-radius: 15px;
	
		height:1000px;
	}
}